<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Total Income
        </mat-panel-title>
        <mat-panel-description>
            $$ TOTAL DOLLAR AMOUNT
        </mat-panel-description>
    </mat-expansion-panel-header>

    <p>each thing $$$</p>
    <p>each thing $$$</p>
</mat-expansion-panel>

<button mat-raised-button color="primary">Add Income</button>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Total Expenses
        </mat-panel-title>
        <mat-panel-description>
                $$ TOTAL DOLLAR AMOUNT
            </mat-panel-description>
   
    </mat-expansion-panel-header>

    <p>each thing $$$</p>
    <p>each thing $$$</p>

</mat-expansion-panel>

<button mat-raised-button color="primary">Add Expenses</button>
