<h4>Add Expense</h4><br>

<form>
         <div class="form-group">
        <label for="exampleFormControlInput1">Description</label>
        <input type="expense-description" class="form-control" id="expenseDescription" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Amount</label>
        <input type="expense-amount" class="form-control" id="expenseAmount" placeholder="">
      </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Type</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Housing</option>
            <option>Transportation</option>
            <option>Bills</option>
            <option>Entertainment</option>
            <option>Food/Groceries</option>
            <option>Savings</option>
            <option>Other</option>
        </select>
    </div>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Add</button>
</div>