<h4>Add Expense</h4><br>

<div>
<mat-form-field>
  <label for="exampleFormControlInput1">Description</label>
  <input matInput type="expense-description" class="form-control" id="expenseDescription"
    [(ngModel)]="expenseDescription" name="expenseDescription">
</mat-form-field><br>

<mat-form-field>
  <label for="exampleFormControlInput1">Amount</label>
  <input matInput type="expense-amount" class="form-control" id="expenseAmount" [(ngModel)]="expenseAmount"
    name="expenseAmount">
</mat-form-field><br>


<label for="exampleFormControlSelect1">Type</label><br>
<mat-select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="expenseType" name="expenseType" placeholder="Select One">
  <mat-option value="Housing">Housing</mat-option>
  <mat-option value="Transportation">Transportation</mat-option>
  <mat-option value="Bills">Bills</mat-option>
  <mat-option value="Entertainment">Entertainment</mat-option>
  <mat-option value="Food/Groceries">Food/Groceries</mat-option>
  <mat-option value="Savings">Savings</mat-option>
  <mat-option value="Other">Other</mat-option>
</mat-select><br>

<label id="recurring">Recurring?</label>
<mat-radio-group [(ngModel)]="expensesRecurring">
  <mat-radio-button class="yes" [value]="1">
    Yes
  </mat-radio-button>
  <mat-radio-button class="no" [value]="0">
      No
    </mat-radio-button>
</mat-radio-group><br>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="addExpense(expenseDescription, expenseAmount, expensesRecurring, expenseType)">Add</button>
</div>
</div>