<h4>Add Income</h4><br>

<form>
         <div class="form-group">
        <label for="exampleFormControlInput1">Description</label>
        <input type="income-description" class="form-control" id="incomeDescription" [(ngModel)]="incomeDescription" name="incomeDescription">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Amount</label>
        <input type="income-amount" class="form-control" id="incomeAmount" [(ngModel)]="incomeAmount" name="incomeAmount">
      </div>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="addToIncome(incomeDescription, incomeAmount)">Add</button>
</div>