<img class="mainImage" src="/assets/budgetbuddy.png">

<mat-card-content>
    <form class="my-form">
        <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="first" placeholder="First name" name="fname">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="last" placeholder="Last Name" name="lname">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" placeholder="Email" name="email">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" placeholder="Username" name="username">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" placeholder="Password" name="password">
        </mat-form-field>

        <mat-card-actions>
                <button mat-raised-button (click)="register()" color="primary">REGISTER</button>
            </mat-card-actions>

    </form>
</mat-card-content>